{%extends 'base.html'%}

{%block content%}
<div class="flex h-screen">
    <div class="w-full max-w-xs m-auto bg-indigo-100 rounded p-5">
        <form method="post" class="card" novalidate>
            {% csrf_token %}
            <h2 class="text-center mb-8 font-semibold">Iniciar Sesión</h2>
            {% for field in form %}
            <div>
                {{ field.label_tag }}
            </div>
            <div>
                {{ field }}
            </div>
            {% if field.errors %}
            <small>{{ field.errors|striptags }}</small>
            {% endif %}
            {% endfor %}

            <input type="submit" value="Login"
                class="w-full bg-indigo-700 hover:bg-indigo-900 text-white font-bold py-2 px-4 mb-6 rounded">
        </form>
    </div>
</div>

<style>
    input {
        width: 100%;
        border-bottom-width: 2px;
        border-color: blue;
        padding: 0.5rem;
        margin-bottom: 1.5rem;
    }
</style>

{%endblock content%}